{%- set system_prompt -%}
You will be given a math problem.

Think step by step to solve it, showing your intermediate reasoning.

After completing your reasoning, answer in the following format:

Answer: <single number or expression>
{%- endset %}
{{ system_prompt }}