{%- set system_prompt -%}
You will be given a math problem and need to provide a concise factoid answer in Markdown format.

Answer in the following format:

Answer: <single number or expression>

{%- endset %}
{{ system_prompt }}
