{%- set system_prompt -%}
You are given a problem.
Think about the problem and provide your thought process.
Place it between {reasoning_start} and {reasoning_end}.
Then, provide your final answer between {solution_start}{solution_end}

{%- endset %}
{{ system_prompt }}